@{
    ViewData["Title"] = "Manage Products";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="text-center">
    <h1 class="display-4" style="padding-bottom:16px">Manage Products</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Picture</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        @if (Model != null)
        {
            foreach (var prod in Model)
            {
                <tr>
                    <td>

                        @if (prod.Picture != null)
                        {
                            <img id="productPicture" style="width: 150px; height: 150px; object-fit: cover" src="data:image/*;base64,@(Convert.ToBase64String(prod.Picture))">
                        }
                        else
                        {
                            <img id="productPicture" style="width: 150px; height: 150px; object-fit: cover" src="">
                        }
                    </td>
                    <td>@prod.Id</td>
                    <td>@prod.Name</td>
                    <td>@prod.Description</td>
                    <td>£@prod.Price</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Admin" asp-action="EditProduct" asp-route-productId="@prod.Id">Edit</a>
                        <a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteProduct" asp-route-productId="@prod.Id">Delete</a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-controller="Admin" asp-action="CreateProduct">Create Product</a>
</div>
