@{ ViewData["Title"] = "Home"; }

<head>
    <script src="~/js/site.js"></script>
</head>
<div class="text-center">
    <h1 class="display-4" style="padding-bottom:16px">Menu</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Picture</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var prod in Model)
                {
                    var prodIdQuantity = (prod.Id + "_quantity");

                    <tr>
                        <td>

                            @if (prod.Picture != null)
                            {
                                <img id="productPicture" style="width: 150px; height: 150px; object-fit: cover" src="data:image/*;base64,@(Convert.ToBase64String(prod.Picture))">
                            }
                            else
                            {
                                <img id="productPicture" style="width: 150px; height: 150px; object-fit: cover" src="">
                            }
                        </td>
                        <td>@prod.Name</td>
                        <td>@prod.Description</td>
                        <td>£@prod.Price</td>
                        <td><input type="number" id="@prodIdQuantity" name="quantity" min="1" max="255" value="1" onchange="UpdateHref('@prod.Id', '@Url.ActionLink("AddToCart", "Home", new {productId = @prod.Id})', document.getElementById('@prodIdQuantity').value)"></td>
                        <td>
                            <a id="@prod.Id" class="btn btn-success" href="@Url.ActionLink("AddToCart", "Home", new {productId = @prod.Id, quantity = 1})">Add</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script>
    function UpdateHref(id, link, quantity) {
        document.getElementById(id).href = link + "&quantity=" + quantity;
    }
</script>